<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Forecast By City</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <label>Enter City</label>
                <form ng-submit="submit()">
                    <div class="form-group">
                        <input type="text" placeholder="Enter City Name..." ng-model="city" name="city" class="form-control"/>
                        <input type="submit" href="#/forecast" class="btn btn-primary" value = "Forecast"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>